.Header__container__OQGF0 {
  display: flex;
  align-items: center;
  background: #2d4571;
  background: var(--accentColor);
  padding: 0 24px;
  padding: 0 var(--gap);
  border-bottom: 4px solid #152c55;
  border-bottom: 4px solid var(--accentColorDarker);
  height: calc(62px - 4px);
  height: calc(var(--headerHeight) - 4px)
}
.Header__container__OQGF0 .Header__title__HIUVy {
    color: #9eb4dc;
    color: var(--accentColorText);
    font-size: 1.2em;
  }

.BaseLayout__container__cBrOL {
  height: 100vh;
  display: flex;
  flex-direction: column
}
.BaseLayout__container__cBrOL .BaseLayout__content__ZItBR {
    height: calc(100vh - 62px);
    height: calc(100vh - var(--headerHeight));
    padding: 24px;
    padding: var(--gap);
  }

.ColorPreview__container__grml_ {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
  grid-gap: var(--gapSmall);
  gap: var(--gapSmall)
}
.ColorPreview__container__grml_ .ColorPreview__colorBlock___veJg {
    height: 30px;
    border: 2px solid white;
  }
.ColorPreview__container__grml_ .ColorPreview__hexCode__F8QWN {
  }

.ColorPicker__container___gYIr {
  display: flex;
  justify-content: center;
  grid-gap: 24px;
  gap: 24px;
  grid-gap: var(--gap);
  gap: var(--gap)
}
.ColorPicker__container___gYIr .ColorPicker__canvasContainer__BjzF8 {
    flex: 1;
    border: 8px solid white
  }
.ColorPicker__container___gYIr .ColorPicker__canvasContainer__BjzF8 canvas {
      display: block;
    }
.ColorPicker__container___gYIr .ColorPicker__colorPreview__IWWS3 {
    min-width: 150px;
  }

.ImageUpload__container___Z7qS {
  display: block;
  height: 100%
}
.ImageUpload__container___Z7qS .ImageUpload__inputContainer__Ie2r7 {
    display: none;
  }

.UploadArea__container___cDio {
  border: 2px dashed #bbb;
  border: 2px dashed var(--bgColorDarker);
  padding: 12px;
  padding: var(--gapSmall);
  cursor: pointer;
  transition: all 140ms
}
.UploadArea__container___cDio:hover {
    border-color: #4d648d;
    border-color: var(--accentColorLighter);
    color: #2d4571;
    color: var(--accentColor);
    background: #9eb4dc;
    background: var(--accentColorBackground);
  }
.UploadArea__container___cDio.UploadArea__hovering__UvC5e {
    border-color: #6fb56f;
    border-color: var(--primaryGreenLighter);
    color: #316e31;
    color: var(--primaryGreen);
    background: #ceffd4;
    background: var(--primaryGreenBackground);
  }
.UploadArea__container___cDio .UploadArea__imageUpload__jVmLq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    grid-gap: 12px;
    gap: 12px;
    grid-gap: var(--gapSmall);
    gap: var(--gapSmall)
  }
.UploadArea__container___cDio .UploadArea__imageUpload__jVmLq .UploadArea__imageUploadIcon__Pz9A8 {
      font-size: 36px;
      transition: transform 240ms;
    }
.UploadArea__container___cDio .UploadArea__imageUpload__jVmLq .UploadArea__imageUploadHint___7kVp {
      opacity: 0.8;
      text-align: center;
    }

.Landing__container__LJrbB {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
  grid-gap: var(--gap);
  gap: var(--gap);
  max-width: 1200px;
  max-width: var(--maxContentWidth);
  margin: 0 auto;
  padding: 0 24px;
  padding: 0 var(--gap);
}

@font-face {
  font-family: "Nunito";
  src: url(/image-color-picker/assets/fonts/NunitoSans-Regular..ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url(/image-color-picker/assets/fonts/NunitoSans-Bold..ttf) format("truetype");
}

html {
  font-family: "Nunito";
  font-family: var(--baseFont);
  font-size: 16px;
  scroll-behavior: smooth;
  color: #585858;
  color: var(--textColor);
  background: #e1e1e1;
  background: var(--bgColor);
}

:root {
  --baseFont: "Nunito";

  --textColor: #585858;

  --fgColor: white;
  --bgColor: #e1e1e1;
  --bgColorDarker: #bbb;

  --accentColor: #2d4571;
  --accentColorDarker: #152c55;
  --accentColorLighter: #4d648d;
  --accentColorBackground: #9eb4dc;
  --accentColorText: #9eb4dc;

  --primaryGreen: #316e31;
  --primaryGreenDarker: #00ff00;
  --primaryGreenLighter: #6fb56f;
  --primaryGreenBackground: #ceffd4;
  --primaryGreenText: #ceffd4;

  --gap: 24px;
  --gapLarge: 48px;
  --gapSmall: 12px;

  /* LAYOUT */
  --maxContentWidth: 1200px;
  --headerHeight: 62px;
}

