.container {
  display: flex;
  justify-content: center;
  gap: var(--gap);

  & .canvasContainer {
    flex: 1;
    border: 8px solid white;

    & canvas {
      display: block;
    }
  }

  & .colorPreview {
    min-width: 150px;
  }
}
