@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
}

html {
  font-family: var(--baseFont);
  font-size: 14px;
  scroll-behavior: smooth;
  color: var(--textColor);
  background: var(--bgColor);
}

:root {
  --baseFont: "Nunito";

  --textColor: #585858;
  --textAccentColor: #95305e;

  --fgColor: white;
  --bgColor: #e1e1e1;

  --gap: 24px;
  --gapLarge: 48px;
  --gapSmall: 12px;
}
